header {
    height: 80px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-secondary);
    display: flex;
    align-items: center;
}

.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-name {
    font-size: 20px;
}

.menu-item {
  display: flex;
  gap: 20px;
  list-style: none;
}

.menu-active {
    font-weight: 700;
}